body {
  --nav-item-children-margin-start: 11px;
  --nav-item-children-padding-start: 0px;
}

/* 
.nav-files-container .tree-item-children {
  margin-inline-start: 11px !important;
  padding-inline-start: 0px !important;
}
*/
